// COLORS
$color-primary: #151515;
$texts-color: #6a983c;
// Container
$width-container: 1230px;
$p-container: 30px;

// FONTS
$font-stack:'Poppins', sans-serif;
$font-open-sans:'Open Sans', sans-serif;
