.icons {
    @include list-unstyled;
    align-items: baseline;

    &__item:not(:last-child){
        margin-right: 16px;
    }

    &__title,
    &__desc{
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $color-primary;
    }

    &__link {
        text-decoration: none;
        background: #f5f5f5;
        border-radius: 12px;  
        padding: 7px 12px;    
        margin-bottom: 16px;  
    }

    &__link .bx{
        color: $color-primary;
        font-size: 20px;
    }

}